div {
  border: thin solid black;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 10px;
}

.header {
  grid-column: 1 / 4;
}

.footer {
  grid-column: 1 / 4;
}
